<div class="bg-img"
  [ngStyle]="{'background-image': getUrl(), 'background-attachment': 'fixed', 'background-size' : 'contain','background-repeat': 'no-repeat','background-position': 'center'}">
  <!--toolbar-->
  <div class="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <h2>PrepEase</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link " href="#about">About</a>
          <a class="nav-item nav-link" href="#vision">Vision</a>
          <a class="nav-item nav-link" href="#">Contact Us</a>
          <a class="nav-item nav-link " href="#">Subscription</a>
          <a class="nav-item nav-link " href="#login" id="login-btn">LOGIN</a>
        </div>
      </div>
    </nav>
  </div>

  <!--Explore-->
  <div class="explore">
    <p>E</p>
    <p>X</p>
    <p>P</p>
    <p>L</p>
    <p>O</p>
    <p>E</p>
  </div>

  <!---About-->
  <section id="about">
    <div class="about-left-col">
      <div class="about-text">
        <h2> Welcome to the future of education </h2>
        <p>
          A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on your site
          —
          hence the name landing.
          It’s most commonly associated with pay-per-click ads like Google Adwords, where you can drive traffic to a
          specific URL that has been designed to receive those visitors.
          The problem with most landing pages is that they’re created around broad categories like “jeans” instead of
          being more specifically focused like “women’s skinny jeans” or “juniors boot-cut jeans”.
          These days, people intuitively understand that when searching the web, the site whose description most closely
          matches their search is likely to be the winner.
        </p>
      </div>
    </div>
    <div class="about-right-col">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/img/svg1.png">
        </ng-template>

        <ng-template ngbSlide>
          <img src="../assets/img/svg2.png">
        </ng-template>

        <ng-template ngbSlide>
          <img src="../assets/img/svg3.png">
        </ng-template>
      </ngb-carousel>
    </div>
  </section>

  <!---Vision-->
  <section id="vision">
    <div class="vision-left-col">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="vision-text">
            <h2> Welcome to the future of education </h2>
            <p>
              A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on your
              site
              —
              hence the name landing.
              It’s most commonly associated with pay-per-click ads like Google Adwords, where you can drive traffic to a
              specific URL that has been designed to receive those visitors.
              The problem with most landing pages is that they’re created around broad categories like “jeans” instead
              of
              being more specifically focused like “women’s skinny jeans” or “juniors boot-cut jeans”.
              These days, people intuitively understand that when searching the web, the site whose description most
              closely
              matches their search is likely to be the winner.
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="vision-text">
            <h2> 2nd slide </h2>
            <p>
              It’s most commonly associated with pay-per-click ads like Google Adwords, where you can drive traffic to a
              specific URL that has been designed to receive those visitors.
              The problem with most landing pages is that they’re created around broad categories like “jeans” instead
              of
              being more specifically focused like “women’s skinny jeans” or “juniors boot-cut jeans”.
              These days, people intuitively understand that when searching the web, the site whose description most
              closely
              matches their search is likely to be the winner.
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="vision-text">
            <h2> 3rd slide </h2>
            <p>
              The problem with most landing pages is that they’re created around broad categories like “jeans” instead
              of
              being more specifically focused like “women’s skinny jeans” or “juniors boot-cut jeans”.
              These days, people intuitively understand that when searching the web, the site whose description most
              closely
              matches their search is likely to be the winner.
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="vision-right-col">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/img/svg2.png" width="512px">
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/svg3.png" width="512px">
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/svg1.png" width="512px">
        </ng-template>
      </ngb-carousel>
    </div>
  </section>

  <!--LOGIN-->
  <section id="login">
    <div class="login-left-col">
      <div class="login-text">
        <h2> Welcome Back </h2>
        <form>

        </form>
      </div>
    </div>
    <div class="login-right-col">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/img/svg3.png" width="512px">
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/svg2.png" width="512px">
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/img/svg1.png" width="512px">
        </ng-template>
      </ngb-carousel>
    </div>
  </section>

  <div class="footer">
    <p> Copyright 2020 PREPEASE | Privacy Policy</p>
  </div>

</div>
