<div class="main"
  [ngStyle]="{'background-image': getUrl(), 'background-attachment': 'fixed', 'background-size' : 'contain','background-repeat': 'no-repeat','background-position': 'center'}">
  <!--toolbar-->
  <div class="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <h2>PrepEase</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link " href="#about">About</a>
          <a class="nav-item nav-link" href="#vision">Vision</a>
          <a class="nav-item nav-link" href="#">Contact Us</a>
          <a class="nav-item nav-link " href="#">Subscription</a>
          <a class="nav-item nav-link " href="#login" id="login-btn">LOGIN</a>
        </div>
      </div>
    </nav>
  </div>

  <!--Explore-->
  <div class="explore">
    <p>E</p>
    <p>X</p>
    <p>P</p>
    <p>L</p>
    <p>O</p>
    <p>E</p>
  </div>

  <!---About-->
  <section id="about">
    <div class="about-left-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="about-text">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2> slide1 </h2>
              <p>
                A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on
                your
                site
              </p>
            </div>
            <div class="carousel-item">
              <h2> slide 2 </h2>
              <p>
                A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on
                your
                site
              </p>
            </div>
            <div class="carousel-item">
              <h2> slide 3</h2>
              <p>
                A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on
                your
                site
              </p>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>


    <div class="about-right-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/svg1.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/svg2.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/svg3.png">
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>

  <!---Vision-->
  <section id="vision">
    <div class="vision-left-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" id="vision-slider">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="vision-text">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2> slide1 </h2>
              <p>
                A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on
                your
                site
              </p>
            </div>
            <div class="carousel-item">
              <h2> slide 2 </h2>
              <p>
                A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on
                your
                site
              </p>
            </div>
            <div class="carousel-item">
              <h2> slide 3</h2>
              <p>
                A landing page, simply put, is any page that gets traffic from anywhere other than the same pages on
                your
                site
              </p>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>


    <div class="vision-right-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" id="vision-slider">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/svg1.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/svg2.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/svg3.png">
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>

  <!--LOGIN-->
  <section id="login">
    <div class="login-left-col">
      <div class="login-text">
        <form class="login-form">
          <h2> Welcome Back </h2>
          <mat-form-field class="input-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder=" ">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder=" " type="password">
          </mat-form-field>
          <br>
          <a href="#"> Forgot Password ?</a>
          <button mat-flat-button color="primary">Next</button>
        </form>
      </div>
    </div>
    <div class="login-right-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" id="login-slider">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/svg1.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/svg2.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/svg3.png">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="footer">
    <p> Copyright 2020 PREPEASE | Privacy Policy</p>
  </div>
</div>
