<div class="main">
  <!--toolbar-->
  <div class="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <h2>PrepEase</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link " href="#about">Home</a>
          <a class="nav-item nav-link" href="#vision">Vision</a>
          <a class="nav-item nav-link" href="#contact">Contact Us</a>
          <a class="nav-item nav-link " href="#login" id="login-btn">LOGIN</a>
        </div>
      </div>
    </nav>
  </div>

  <!--Explore-->
  <div class="explore">
    <p>E</p>
    <p>X</p>
    <p>P</p>
    <p>L</p>
    <p>O</p>
    <p>E</p>
  </div>

  <!---About-->
  <section id="about">
    <div class="about-left-col">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause=" ">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" id="myCarousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="about-text">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2> The future of <br> <span id="title"> EDUCATION</span></h2>
              <h3>PrepEase for Student-Centered Learning</h3>
              <p>
                Get access to personalized learning videos, discussion forms, and quizes.
                Redefine education in the digital world by utilizing resources.
              </p>
            </div>
            <div class="carousel-item">
              <h2> Continue learning amidst <br> <span id="title"> COVID-19</span></h2>
              <h3>Don’t let pandemics impact your education</h3>
              <p>
                Amid the current crisis, create a safe space for learning, and continue growing with resources provided
                by your teachers.
                Acquire skills uninterrupted and build your career.
              </p>
            </div>
            <div class="carousel-item">
              <h2> Getting started is <br> <span id="title"> EFFORTLESS</span></h2>
              <h3>A simple platform for substantial learning</h3>
              <p>
                Getting updates from your peers is just a click away. Teachers can easily create learning videos and
                quizes.
                Discussion forms for students create an easy way to learn together with classmates!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="about-right-col">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause=" ">
        <!-- Carousel indicators -->
        <ul class="carousel-indicators" id="myCarousel-indicators">
          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel2" data-slide-to="1"></li>
          <li data-target="#myCarousel2" data-slide-to="2"></li>
        </ul>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/picture1.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/picture2.png">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/picture3.png">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!---Vision-->
  <section id="vision">
    <div class="vision-left-col">
      <div class="vision-text">
        <h2> Our <br> <span id="title"> VISION</span></h2>
        <h3>Reimagining education</h3>
        <p>
          PrepEase is an initiation for dynamic learning anytime/anywhere.
          A platform for the ultimate classroom experience for students and teachers.
          Engaging out children like never before, they will excel in all levels.
        </p>
      </div>
    </div>
    <div class="vision-right-col">
      <img src="/assets/img/vision.png">
    </div>
  </section>

  <!---ContactUs-->
  <section id="contact">
    <div class="contact-left-col">
      <div class="contact-text">
        <h2>For more information <br> <span id="title"> CONTACT US</span></h2>
        <h3>We would love to help</h3>
        <p>
          For any questions or inquiries, get in touch with us at:
          <b>help.prepease@gmail.com</b>
        </p>
      </div>
    </div>
    <div class="contact-right-col">
      <img src="/assets/img/contact.png">
    </div>
  </section>

  <!--LOGIN-->
  <section id="login">
    <div class="login-left-col">
      <div class="login-text">
        <form class="login-form">
          <h3> Hello, friend ! </h3>
          <h2> Welcome Back </h2>
          <mat-form-field class="input-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder=" ">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder=" " type="password">
          </mat-form-field>
          <br>
          <a href="#"> Forgot Password ?</a>
          <button mat-flat-button color="primary">Next</button>
        </form>
      </div>
    </div>
    <div class="contact-right-col">
      <img src="/assets/img/login.png">
    </div>
  </section>
  <div class="footer">
    <p> Copyright 2020 PREPEASE | Privacy Policy</p>
  </div>
</div>
